/* Cat Card */
.cat-card {
    pointer-events: none;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.758);
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
}

.cat-card-block {
    width: 74%;
    max-height: calc(100% - 40px);
    overflow: hidden;
    background-color: white;
    padding: 45px;
    font-size: 22px;
    font-weight: 500;
    color: rgb(37, 26, 12);
    border-radius: 10px;
    margin: auto;
    scroll-behavior: smooth;
    pointer-events: all;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-25%, -50%);
}


.card-close-btn {
    position: absolute;
    top: 1%;
    right: 1%;
    color: #fb09059f;
    text-align: center;
    font-weight: 500;
    border: none;
    padding: 10px;
    background-color: #fd7a0013;
    border-radius: 8px;
    transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 200ms cubic-bezier(0.4, 0, 0.2, 1);

}

.card-close-btn:hover {
    color: #5072ebba;
    cursor: pointer;
    background-color: #22212008;
    cursor: var(--cat-paw);
}



#cat-card img {
    max-width: 100%;
    border-radius: 35px;
    padding: 15px;
    margin: auto;
}

/* Media query for mobile devices */
@media only screen and (max-width: 600px) {
    .cat-card-block {
        padding: 10px;
    }

    #cat-card img {
        padding: 10px;
    }
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    display: none;
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #fff;
}

.cat-finder {
    width: 230px;
    position: absolute;
    right: 2%;
    font-size:20px;
    z-index: 1;
}

.cat-finder {
    display: flex;
    justify-content: space-between;
}

.cat-text {
    width: 42%;
}

.cat-image {
    width: 58%;
}


.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}



.loader:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: .5s;
}