

.header{
   	max-width: 496px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 48px;
	text-align: center;

	font-style: normal;
	font-weight: 700;
	font-size: 56px;
	line-height: calc(60/56);
	letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2E2F42;; 
}

.hero-box{
    max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
    background-image: /* linear-gradient(
		to right,
		rgba(46, 47, 66, 0.7),
		rgba(46, 47, 66, 0.7)), */
	 url("../images/minimalist-cat.jpeg");
    background-repeat: no-repeat;
	background-size: cover;
	background-color: var(--base-color);
    }