.header{
   	max-width: 496px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 48px;
	text-align: center;

	font-style: normal;
	font-weight: 700;
	font-size: 56px;
	line-height: calc(60/56);
	letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2E2F42;; 
}

